body {
    background-image: url('../../assets/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navBar {
    background-color: #242f5e;
}

.infoCard {
    background-color: #242f5e;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.mycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2,
span {
    font-weight: bold;
}

span {
    color: #fff;
}

label {
    color: #242f5e;
    font-weight: bold;
}

input {
    width: 100%;
    border-radius: 8px;
}

button {
    padding: 5px 15px;
    border: 1px solid #242f5e;
    border-radius: 8px;
    background-color: #ffcc00;
    color: #242f5e;
    font-weight: bolder;
    transition: all 1.5s ease;
}

button:hover {
    padding: 5px 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
    background-color: #242f5e;
    color: #ffcc00;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.inputSearch {
    border: 2px solid #242f5e;
    width: 25%;
    padding: 20px 0;
    border-radius: 8px;
    background-color: #242f5e;
}

.inputSearch, label {
    color: #fff;
}