<nav class="navbar p-3 navBar">
    <!-- <div class="container"> -->
    <a class="navbar text-decoration-none" href="#">
        <p class="fs-5 fw-bold text-warning">WEATHER APP</p>
    </a>
    <!-- </div> -->
</nav>

<div class="container">
    <div class="mt-5 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <a href=""
                class="text-light fw-bold fs-5 text-center bg-warning py-2 w-50 text-decoration-none rounded-pill">&#9888;
                ALERTE METEO</a>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <a href=""
                class="text-light fw-bold fs-5 text-center bg-warning py-2 w-50 text-decoration-none rounded-pill">
                BULLETINS & ANIMATIONS</a>
        </div>
    </div>
</div>

<div class="mycontainer">
    <div class="card m-5 infoCard border-4">
        <div class="card-header text-center m-3">
            <h2 class="text-light">{{city}}</h2>
            <div class="m-2">
                <p><img src="{{iconUrl}}" alt="logo de météo" width="150" height="150"></p>
            </div>
        </div>
        <div class="card-body m-4">
            <p class="card-text text-warning fw-bold">Résumé : <span>{{summary | titlecase}}</span></p>
            <p class="card-text text-warning fw-bold">Température : <span>{{temperature}} °c</span></p>
            <p class="card-text text-warning fw-bold">Température ressentie : <span>{{feelsLikeTemp}} °c</span></p>
            <p class="card-text text-warning fw-bold">Pression : <span>{{pressure}} hPa</span></p>
            <p class="card-text text-warning fw-bold">Humidité : <span>{{humidity}} %</span></p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center mt-3 mb-5">
    <form action="">
        <div>
            <label for="searchCity" class="mb-2">Veuillez renseigner une ville : </label><br>
            <input type="text" name="searchCity" id="searchCity">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button>VALIDER</button>
        </div>
    </form>
</div>